<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="resources.Listeners" />
		<listener class-name="resources.ExtentReporterNG" />
	</listeners>
	
  <test  name="Store app">
    <classes>
      <class name="GenaralStore_App.Ecm_Tc_4"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
